USE [nhom1]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 07/03/2026 9:34:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[permission_code] [nvarchar](100) NOT NULL,
	[permission_name] [nvarchar](150) NOT NULL,
	[module] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 07/03/2026 9:34:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[role_code] [nvarchar](50) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_system] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[permissions] ([id], [permission_code], [permission_name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'082e8a88-700c-450c-afd8-1afeea36c932', N'ROLE_DELETE', N'Xóa vai trò', N'Vai trò', N'Cho phép xóa vai trò', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [permission_code], [permission_name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'c2f86224-1ed6-4655-ba6d-232626684e2c', N'ROLE_UPDATE', N'Cập nhật vai trò', N'Vai trò', N'Cho phép chỉnh sửa vai trò', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [permission_code], [permission_name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ff4773bc-5e28-4617-88f7-3754b7553a10', N'PERMISSION_ASSIGN', N'Gán quyền', N'Phân quyền', N'Cho phép gán quyền cho vai trò', NULL, NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[roles] ([id], [role_code], [role_name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'b431cb34-f166-4c65-95b4-0c4af7f405ae', N'SINHVIEN', N'Sinh viên', N'Truy cập hệ thống học tập', 0, CAST(N'2026-03-05T08:53:43.4228899' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [role_code], [role_name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'cb672bef-3616-45b1-8d30-0f05d1c70ab9', N'GIANGVIEN', N'Giảng viên', N'Quản lý lớp học và sinh viên', 1, CAST(N'2026-03-05T08:53:43.4228899' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [role_code], [role_name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7d2746d4-147d-4f40-a769-3b009550d487', N'MANAGER', N'Quản lý', N'Quản lý hoạt động hệ thống', 0, CAST(N'2026-03-05T08:53:43.4228899' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__BAE63075D33492F4]    Script Date: 07/03/2026 9:34:13 CH ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
