USE [nhom1]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 19/03/2026 8:48:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[module] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19/03/2026 8:48:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_system] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19/03/2026 8:48:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[avatar_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3a6b0676-cf3a-4f13-bec8-04206a9e2bad', N'ROLE_ASSIGN', N'Gán quyền', N'ROLE', N'Cho phép gán quyền cho vai trò', CAST(N'2026-03-19T08:40:58.5884490' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'50f50ae1-ea9c-40fb-a9b5-a02d875af4fa', N'USER_VIEW', N'Xem người dùng', N'USER', N'Cho phép xem danh sách người dùng', CAST(N'2026-03-19T08:40:58.5884490' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'fa3828a6-6746-4e92-95c5-a2f8b27a1303', N'USER_CREATE', N'Tạo người dùng', N'USER', N'Cho phép tạo người dùng mới', CAST(N'2026-03-19T08:40:58.5884490' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'9b560774-c927-4bfa-b3b4-05c76f54a23a', N'ADMIN', N'Quản trị hệ thống', N'Toàn quyền hệ thống', 1, CAST(N'2026-03-19T08:41:09.8250821' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'213a708f-1219-46c6-b2a7-3d354bec3a38', N'GUEST', N'Khách', N'Người dùng chưa đăng nhập', 0, CAST(N'2026-03-19T08:41:09.8250821' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7ad6f873-bd12-49c0-9970-5f89b29e5332', N'SINHVIEN', N'Sinh viên', N'Truy cập học tập', 0, CAST(N'2026-03-19T08:41:09.8250821' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [email], [phone], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active], [avatar_url]) VALUES (N'aef67466-d24c-4560-8439-2e0fedf3e7d6', N'giangvien1', N'123456hash', N'Nguyễn Văn A', N'a@gmail.com', N'0900000002', NULL, CAST(N'2026-03-19T08:41:20.3921023' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1, N'avatar2.png')
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [email], [phone], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active], [avatar_url]) VALUES (N'0a6f43b0-53ff-4835-b4ea-8a00c1000934', N'sinhvien2', N'123456hash', N'Lê Văn C', N'c@gmail.com', N'0900000004', NULL, CAST(N'2026-03-19T08:41:20.3921023' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1, N'avatar4.png')
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [email], [phone], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active], [avatar_url]) VALUES (N'ff00e969-8dfa-4429-a760-bbe5bb26859e', N'admin', N'123456hash', N'Quản trị viên', N'admin@gmail.com', N'0900000001', NULL, CAST(N'2026-03-19T08:41:20.3921023' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1, N'avatar1.png')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions_code]    Script Date: 19/03/2026 8:48:36 SA ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF901D2F3AB]    Script Date: 19/03/2026 8:48:36 SA ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5725625735A]    Script Date: 19/03/2026 8:48:36 SA ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
